.page {
    color: black;
    background: url(../../../assets/Images/Background2.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

}

/* From Uiverse.io by alexruix */
.groupI {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
}

.input {
    width: 800px;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.9rem;
    border: 2px solid white;
    border-radius: 8px;
    outline: none;
    background-color: transparent;
    color: white;
    transition: .3s ease;
}

.input::placeholder {
    color: white;
}

.input:focus,
.input:hover {
    outline: none;
    border-color: rgba(78, 142, 231, 0.4);
    box-shadow: 0 0 0 4px rgba(108, 156, 226, 0.1);
}



@media screen and (max-width: 992px) {
    .input {
        width: 70% !important;
    }


}

@media screen and (max-width: 576px) {
    .input {
        width: 100% !important;
    }


}